@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");

:root {
  --background-color: #f5f0ec;
  --main-light-purple-color: #a586c1;
  --main-darker-purple-color: #7e5da7;
  --white-color: white;
  --white-smoke-color: #f5f5f5;

  --navbar-grey-color: #464646;

  --header-grey-color: #626262;

  --gallery-grey-color: #888;
  --gallery-scrollbar-thumb-color: #888888;
  --gallery-scrollbar-thumb-hover-color: #555555;
  --gallery-scrollbar-thumb-active-color: #333333;

  --input-color: #ccc;

  --clients-table-th-purple-color: #a586c191;
  --clients-table-tr-hover-color: #f5f5f5;

  --button-grey-color: rgb(145, 144, 144);
  --button-red-color: #ff3333;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}
